    /*try not to make the most incomprehensible css file challenge go*/
    body {
        background-color: black;
        color: white;
    }
p,h1,h2,h3,h4 {
            text-shadow:2px 2px black !important
}
    #body {
        margin-right: auto;
        margin-left: auto;
        width: 900px;
        position: relative;
        height: 800px;
    }

    .hatred {
        color: red;
        font-size: 40px;
        position: relative;
        bottom: -4px;
        rotate: 2deg;
        transform: scaleY(1.3);
        animation: 3s infinite linear pulse
    }

    #body h1 {
        position: absolute;
        right: 60px;
        display: flex;
    }

    #body h1 div:first-of-type,
    #body h1 div:last-of-type {
        transform: scaleX(1.4);
        position: relative;
        bottom: -10px;
    }

    #body h1 div:last-of-type {
        left: 30px;
    }

    #body h1 div:first-of-type {
        right: 7px;
    }

    #gaygo {
        position: fixed;
        right: 56%;
        height: 800px;
    }

    #sb {
        position: fixed;
        right: 56%;
        z-index: 99;

    }

    #maincontent {
        width: 600px;
        bottom: 0px;
        position: absolute;
        right: 0px;
        height: 720px;

    }

    h1 q {
        font-size: 16px;
        position: absolute;
        bottom: -40px;
        width: calc(100% + 250px);
        text-align: right;
        right: -60px;
    }

    #longassthing {
        border: 1px solid #535353;
        height: 400px;
        overflow: auto;
        margin-top: 30px;
        background-image: linear-gradient(45deg, #000000 25%, #1a1a1a 25%, #1a1a1a 50%, #000000 50%, #000000 75%, #1a1a1a 75%, #1a1a1a 100%);
        background-size: 8.49px 8.49px;
        rotate: -2deg;
    }

    #testimonies {
        background-image: linear-gradient(45deg, #000000 25%, #1a1a1a 25%, #1a1a1a 50%, #000000 50%, #000000 75%, #1a1a1a 75%, #1a1a1a 100%);
        background-size: 8.49px 8.49px;
        position: relative;
        rotate: 3deg;
        right: -30px;
        height: 300px;
        overflow: auto;
    }

    #longassthing img {
        width: 100%
    }

    #longassthing h2:first-of-type,
    #testimonies h2 {
        background-color: #1a1a1a;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        margin-bottom: 10px;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #535353
    }

    #longassthing .hatred {
        font-size: 30px;
        bottom: 0
    }

    .flex {
        margin-top: 10px;
        ;
    }

    #freebies {
        width: 40%
    }

    #testimonies {
        width: 60%;
    }

    #testimonies q,
    #testimonies p {
        padding: 20px;
        ;
    }

    marquee {
        background-color: red;
        color: black;
        font-size: 40px;
        position: relative;
        font-weight: bold
    }

    a {
        color: inherit
    }

    #testimonies q:nth-child(1n + 2) {
        opacity: 0.7;
        font-style: italic;
        margin-left: 40px;
        font-size: 20px;
    }

    #testimonies q:nth-child(1n + 2):before {
        content: "-- "
    }

    #testimonies h3 {
        font-size: 25px;
    }

    .nfo {
        color: red
    }

    hr {
        border: 1px solid #535353
    }