/*default style for pages*/
body {
    margin: 0
}
::selection {
  background-color:#ea5ea8;
  color:white;
}
html {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    paint-order: stroke fill;
}

/*scrollbars wont show by default*/
*::-webkit-scrollbar  {
  width:0;
}
* {
  scrollbar-width:none;
}
iframe {
    width:100%;
    box-sizing: border-box;
    border:0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.flex {
    display: flex;
}
/*fonts*/
@font-face {
  font-family:"edo";
  src:url("../fonts/edosz.ttf")
}
@font-face {
  font-family:"meta";
  src:url("../fonts/meta.ttf")
}
@font-face {
  font-family:"rodin";
  src:url("../fonts/rodin.otf")
}
@font-face {
  font-family:"bizBold";
  src:url("../fonts/bizBold.ttf")
}
@font-face {
  font-family:"biz";
  src:url("../fonts/biz.ttf")
}
@font-face {
  font-family:"pacifico";
  src:url("../fonts/Pacifico-Regular.ttf")
}
@font-face {
  font-family:"elms";
  src:url("../fonts/ElmsSans-VariableFont_wght.ttf")
}