
 :root {
    --pink-dark: #902c5e;
    --pink-mid: #d65584;
    --pink-mid2: #e56f9b;
    --pink-light: #ff9cbd;
    --pink-lighter: #ff7cbb;
    --pink-bg: #ffeff7;

    --pink-shadow: #c34271;
    --pink-heart: #ffa4c2;
    --pink-border-active: #e05895;
    --pink-frame: #ffa2d2;
    --pink-stars: #ffb7cf;

    --shadow-accent: #902c5e;
}


body {
    background-image: url(../../assets/index/cushionbg.jpg);
}

:root {
    --outer-border: 2px solid var(--pink-dark);
    --inner-border: linear-gradient(to top, var(--pink-light), var(--pink-lighter));
    --inner-content: var(--pink-bg);
}

header div:not(header div div) {
    background-image: url("/docs/assets/index/banner.png") !important;
}

.border div:not(#tabList) {
    background-color: var(--pink-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fedded' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#welcome {
    color: var(--pink-mid);
}

#welcome h2 {
    color: white;
    -webkit-text-stroke: 4px var(--pink-mid);
    text-shadow:
        2px 2px var(--pink-shadow),
        -1px -1px var(--pink-mid2);
}

#welcome h2:after,
#welcome h2:before,
article h3:after {
    color: var(--pink-stars);
}

#welcome i {
    color: var(--pink-heart);
}
.ersb {
    filter: drop-shadow(2px 2px var(--shadow-accent));
}

aside div {
    background-color: var(--pink-light);
}

article .border {
    background-color: var(--pink-frame);
    background-image:
        linear-gradient(135deg, var(--pink-light) 25%, transparent 25%),
        linear-gradient(225deg, var(--pink-light) 25%, transparent 25%),
        linear-gradient(45deg, var(--pink-light) 25%, transparent 25%),
        linear-gradient(315deg, var(--pink-light) 25%, var(--pink-frame) 25%);
}

article h3 {
    color: #fbf2f6;
    -webkit-text-stroke: 4px var(--pink-mid);
}
.active {
    border: 2px solid var(--pink-border-active) !important;
}

article #tabList button {
    border: var(--outer-border);
    background-color: #ffe1ef;
    color: var(--pink-border-active);
}
