body {
    background-image: url(../../assets/index/cushionbg.jpg);
}

:root {
    --outer-border: 2px solid #902c5e;
    --inner-border: linear-gradient(to top, #ff9cbd, #ff7cbb);
    --inner-content: #ffeff7
}

header div:not(header div div)/*ok man*/
    {
    background-image: url("/docs/assets/index/banner.png") !important
}

.border div:not(#tabList) {
    background-color: #ffeff7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fedded' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#welcome {
    color: #cd5a8c;
}

#welcome h2 {
    color: white;
    -webkit-text-stroke: 4px #d65584;
    text-shadow: 2px 2px #c34271, -1px -1px #e56f9b
}

#welcome h2:after,
#welcome h2:before,
article h3:after {
    color: #ffb7cf
}

#welcome i {
    color: #ffa4c2;
}

.ersb {
    filter: drop-shadow(2px 2px #902c5e)
}

aside div {
    background-color: #ff9cbd;
}
article .border {
background-color: #ffa2d2;
background-image:  linear-gradient(135deg, #ff9cbd 25%, transparent 25%), linear-gradient(225deg, #ff9cbd 25%, transparent 25%), linear-gradient(45deg, #ff9cbd 25%, transparent 25%), linear-gradient(315deg, #ff9cbd 25%, #ffa2d2 25%);
}
article h3 {
    color: #fbf2f6;
    -webkit-text-stroke: 4px #d85894;
}
.active {
    border:2px solid #e05895 !important
}
article #tabList button {
    border:var(--outer-border);
    background-color: #ffe1ef;
    color:#e05895
}