:root {
    --container: 800px;
    --outer-border: 2px solid black;
    --inner-border: linear-gradient(to bottom, #808080, #a2a2a2);
    --inner-content: #fff
}


#container {
    grid-template-areas:
        "header header header"
        "aside section section"
        "aside pm pm"
        "aside article article"
        "footer footer footer";
    gap: 5px;
    display: grid;
    width: var(--container);
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    margin-bottom:5px
}

header {
    grid-area: header;
    height: 240px;
    border-top: 0;
    border-radius: 0px 0px 6px 6px;
    position: relative
}

.border {
    border: var(--outer-border);
    background: var(--inner-border);
    padding: 3px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px white
}

.border > div:not(#tabList) {
    border: var(--outer-border);
    background-color: var(--inner-content);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

nav {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20PX);
    box-sizing: border-box;
}
nav .border {
    background:var(--inner-border) !important
}
nav .border div {
    gap: 3px;
    overflow-x: auto;
    display: flex;
    padding: 0 !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

nav a img {
    width: 180px;
    height: 45px;
    margin-top: 3px;
}

aside {
    grid-area: aside;
    width: 250px
}
aside div {
    padding:0px !important;
}
aside div img {
    width:100%;
}
.goromischoice {
    background-image: url("/docs/assets/index/can u handle dat.png");
    background-size:100%;
    height:490px;
    position:relative;
    z-index: 1;
}
.maji {
    position:absolute;
    bottom:0px;
    left:0px;
}
section {
    grid-area: section;
    width: 550px
}

section .flex {
    gap: 5px
}

#welcome {
    width: 350px;
    text-align: center;
    height: 220px;
    font-size: 17px;
    position:relative;
}

.bow {
    position: absolute;
    top:-40px;
    right:-40px;
    z-index:1;
    pointer-events: none;
    rotate:10deg;
}
#welcome h2 {
    margin-top: 2px;
    font-family: Pacifico, cursive;
    font-weight: normal;
}

#side {
    width:200px
}
#side h3 {
    font-size:12px
}
#side button {
    width:100%
}
article {
    width: 550px;
    grid-area: article;
}
article .flex {
    gap:3px
}
.ersb {
    height:100px;
    width:80px;
    margin-left:10px
}

.perfectmatch {
    width:540px;
    height:100px;
    grid-area:pm
}
article .border:not(article .border:last-of-type) {
    width: 350px;
}
article .border:last-of-type div {
    height:203px !important
}
#tabList button {
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
    margin-top: 0;
}

article .flex .border div:not(#tabList) {
    height: 260px;
    padding: 0px;
    position: relative;
}
article h3{
    width:340px;
    position:absolute;
    text-align: right;
    pointer-events: none;
    margin-top:-3px;
    font-family:pacifico;
    font-weight: normal;
}

iframe {
    width: 100%;
    height:100%;
    border-radius: 6px;
}
.framebow {
    position:absolute;
    bottom:-35px;
    left:140px
}
.imgads {
    width:200px;
    position: relative;
}
.majiworld {
    width:100%;
    height:200px
}
footer {
    grid-area: footer;
    text-align: center;
}


.button {
    margin-top: 10px;
    width: 88px;
    height: 31px;
}