body {
  font-family: biz;
  letter-spacing: -0.2px;
}
::selection {
  background-color:blue !important;
}
#container {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
    background-color: #E8E8E8;
  box-shadow: 0px 0px 5px black;
}
#header {
  width:100%;
  height:268px;
  background-image:url("/sitely/ass/blog/header.png");
  background-size:100%;
}
#profile {
background-color: #FF8000;
width:20%;
padding:20px;
font-size: 16px;
  font-family: bizBold;
padding-top:10px;
height:600px;
}
#kiryuImg {
  width:100%;
box-sizing: border-box;
  height:220px;
  margin-top:10px;
  margin-bottom:10px;
  background-image:url("/sitely/ass/blog/kiryu.png");
  background-size:100%;

}
#profile ul {
  margin:0;
  padding:0;
  list-style: none;
  line-height:23px;
}
#mainContent {
    width:80%;
  display: flex;
  flex-flow: column;
}
#nav {
  text-align: center;
  margin-top:10px;
  margin-bottom:20px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  font-size:14px;
  justify-content: space-around;
}
#title {
background-color:#808080;
color:white;
font-size:25px;
padding:10px;
}
iframe {
  flex: 1;
  width:66%;height:520px;
  border:none;
}
#obaChan {
  background-image:url("/sitely/ass/blog/obaChan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
width:37%;
height: 450px;
  
}




