.post-box {
    border: 2px solid #902c5e;
    background: linear-gradient(to top, #ff9cbd, #ff7cbb);
    padding: 3px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px white;
}


.post-box .post-box-inner {
    border: 2px solid #902c5e;
    background-color: #ffeff7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fedded' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}

.post-box .post-box-inner::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-image:  linear-gradient(135deg, #ff9cbd 25%, transparent 25%), linear-gradient(225deg, #ff9cbd 25%, transparent 25%), linear-gradient(45deg, #ff9cbd 25%, transparent 25%), linear-gradient(315deg, #ff9cbd 25%, #ffa2d2 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
            border-bottom: 1px solid #ff7cbb
}

.post-box .post-author {
    font-size: 10px;
    font-weight: bold;
    color: #fbf2f6;
    -webkit-text-stroke: 4px #d85894;
    paint-order: stroke fill;
    font-family: "Comic Sans MS";
    margin-left:5px
}
.post-box .post-date {
    color:#fbf2f6;
    font-size:12px
}
.post-box.post-box .post-date::before {
    font-size: 12px;
    color: #d85894;
    content: " ✦ ";
}

.post-box .post-dot {
    display: none;
}

.post-box .post-title {
    font-size: 20px;
    font-weight: bold;
    color: #fbf2f6;
    -webkit-text-stroke: 4px #d65584;
    text-shadow: 2px 2px #c34271, -1px -1px #e56f9b;
    paint-order: stroke fill;
    font-family: "Comic Sans MS";
    font-style: normal;
    margin: 0;
    margin-top:10px;
    margin-left:10px
}

.post-box .post-title:after,
.post-box .post-title:before {
    content: " ✦ ";
    font-size: 12px;
    color: #ffb7cf
}

.post-box .post-description {
    color: #cd5a8c;
    margin: 0;
    font-size: 14px;
    margin-left:10px;
    margin-bottom:10px;
    transition:0.1s
}
.post-box:hover .post-description {
    margin-left:24px;
    transition:0.2s
}
.post-box .post-description:after {
    content: "♥  ";
    color: #ffa4c2;
    font-weight: bold
}