@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

            body {
                margin: 0;
                background-color: #ffeff7;
                background-image: url('/sitely/ass/index/bgtest.png');
                font-family:ubuntu, tahoma;
            }
            #lace {
              width: 100%;
              height: 52px;
              background-image: url('/sitely/ass/index/lace.png');
              position: absolute;
              top: 1px;
              z-index: 1;
            }
        

            #container {
                margin-left: auto;
                margin-right: auto;
                width: 800px;
                margin-top: 1cm;
                position: relative;
                z-index: 99;
                border: 1px solid transparent;
            }
            #mainContent, #ad, #header, #marqueeContainer {
                              filter: drop-shadow(2px 2px 0px #94167a);
}

            #header {
                border: 1px solid #94167a;
                height: 5cm;
                position: relative;
                background-image: url('/sitely/ass/index/banner.png');
            }

            #logo {
                border: 1px solid rgba(0, 0, 0, 0);
                width: 255px;
                height: 4.3cm;
                margin: 0.75em;
            }
            
            #logo img {
              margin-left: 17px;
              margin-top: 10px;
            }

            #marqueeContainer {
                width: 500px;
                box-sizing: border-box;
                position: absolute;
                bottom: -24px;
                right: 10px;
                background-color: #FB597E;
                background-image:linear-gradient(to bottom, #e65db4, #f693d1 );
                z-index: 9;
                border: 1px solid #94167a;
                border-radius:40% 40% 40% 40% / 15% 15% 15% 15%;
                height:100px;
            }

            #marquee {
                height: 2cm;
                overflow: hidden;
                white-space: nowrap;
                border: 1px solid #94167a;
                position:relative;
                top:11px;
                border-radius:20% 20% 20% 20% / 15% 15% 15% 15%;
                background-color: #ffeff7;
                width:430px;
                margin-left:auto;
                margin-right:auto;
            }

            #marqueeContent {
                display: inline-block;
                padding-left: 100%;
                vertical-align: middle;
                height: 100%;
                padding: 3px;
                overflow-x: scroll;
                width:500px;
            }

            #marqueeContent img {
                border: 1px solid #94167a;
                height: 68px;
                width: 100px;
            }
            #marqueeContainer button {
                background-color: transparent;
                border:none;
                filter:drop-shadow(0px 2px 0px white);
            }
            ::-webkit-scrollbar {
                display:none
            }
            /*adjust height accordingly*/
            #divider {
                flex-basis: 100%;
                background-image:url("/sitely/ass/index/cute-bor.png");
                height:20px;
                background-size:30%;
                background-repeat:repeat-x;
                background-position:center;
            }
            
            #ad {
                border: 1px solid #94167a;
                overflow: auto;
                height: 13cm;
                width: 30%;
                background-image: url('/sitely/ass/index/goromi-match.png');
            }

            #mainContent {
                display: flex;
                width: 70%
            }

            #goromiWorld {
              margin-top: 4px;
                width: 405px;
            }

            #gWW {
                height: 5.0cm;
                background-color: #ea5ea8;
                border-radius: 10px;
                
            }

            #yapSession {
                padding: 0.5em;
                height: calc(100% - 25.5px);
                background-color: #ffeff7;
                background-image: url('/sitely/ass/index/yapbg.png');
                background-repeat: no-repeat;
                border-radius: 10px;
                overflow-y: auto;
            }

            #yapSession p {
                text-indent: 1em;
                margin-top: 5px;
                width: 200px;
                text-align: right;
                float: right;
                color:#94167a;
            }

            #gWW,
            #yapSession {
                border: 1px solid #94167a;
                margin: 0.3em;
            }

            #tabbedThing {
                margin: 0.3em;
            }

            #tabList button {    
                border-radius: 4px 4px 0px 0px;
                border: 1px solid #94167a;
                border-bottom: 0;
                border-left: none;
                font-size: 17px;
                cursor: pointer;
                width: 4em;
                color:#ffeff7;
                background-color: #da49a5; 
            }

            #tabList button:hover {
              background-color: #c1399c ;
            }
            
            .active {
             background-color: #ea5ea8 !important;
              }
              
            #tabList button:nth-child(1) {
                border-left: 1px solid #94167a
            }

            #tabList {
                display: flex;
            }

            #tabContent {
                border: 1px solid #94167a;
                height: 253px;
                background-color: #ffeff7;
                border-radius: 10px;
            }

            #tab {
                border: 1px solid #94167a;
                padding: 0.3em;
                background-color: #ea5ea8;
                border-radius: 10px;
                border-top-left-radius: 0px;
            }

            #theOtherHalf {
                width: 155px;
                position: relative;
                display: flex;
                flex-direction: column;

            }

            #goromiChan {
                height: 5.5cm;
                border: 1px solid rgba(0, 0, 0, 0);
                margin-top: -10px;
            }
            
            #goromiChan img {
              margin-left: -5px;
            }

            #anotherAd {
                border: 1px solid #94167a;
                height: 4cm;
                margin: 4px;
                background-image: url('/sitely/ass/index/dating.png');
            }
            
            #majiWorld {
              width: 147px;
              margin: 4px;
              height: 3.5cm;
            }

            #buttonHolder {
                border: 1px solid #94167a;
                display: flex;
                align-self: center;
                padding: 1.3em;
                position: absolute;
                bottom: 4px;
                display:none
            }

            #button {
                height: 32px;
                width: 89px;
                border: 1px solid #94167a;
                align-self: center;
                margin: auto;
            }

            #yetAnotherDivider {
                margin-bottom: 5px;
                background-image:url("/sitely/ass/index/pearl.png");
                background-repeat: repeat-x;
                height:70px;
                width:calc(100% - 80px);
                margin-left:auto;
                margin-right:auto;
            }
            
            #footer {
              text-align: center;
              filter: none;
              color:#94167a
            }
            #footer p {
              text-shadow:none !important;
              font-size: 12px;
            }

            /*tabs*/
            
            .tabsBody {
              margin: 5px;
              position:relative
            }
            /*aint no way this dude used a class. should i kill his assNEVERMINF I JUST REALIZED WHY HE DID*/
            /*hello goromi chan.*/
            
            #tabsMusicContent,
            #tabsMusic {
                width: 50%;
                height: 165px;
                
            }

            #tabsMusic {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                display: block;
                justify-content: center;
                padding: 0.5em;
                box-sizing: border-box;
                padding-top: 0;
            }

            #tabsMusic h3 {
                text-align: center;
                color:#94167a;
                font-size:15px;
                color:#eb2727;
                text-shadow:1px 1px #FFA2CD;
            }

            #tabsCover {
                height: 130px;
                outline: 1px solid #da49a5;
                border:4px solid #EA5EA8;
                width: 130px;
                margin: auto;
                background-size:100%;
                border-radius:4px;
  
            }

            #tabsControls {
                text-align: center;
            }

            #tabsControls button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color:#94167a;
            }